@charset "utf-8";
ul {list-style-type: none;}

#menubar {
	overflow: hidden;
	padding-bottom: 40px;
}
#menubar li {
	float: left;
	width: 19.6%;
	margin-left: 0.3%;
	margin-top: 0.5%;
	line-height: 1.6;
}
#menubar li:first-child {
	margin-left: 0;
}
#menubar li a {
	display:  block;text-decoration: none;
	background: #111 url(/Qualification/image/bg1.png);
	background: url(/Qualification/image/bg1.png),
	url(/Qualification/image/arrow1.png) no-repeat right bottom, #111;
	color: #fff;
	font-size: 20px;
	padding: 15px 10px 15px 20px;
}
#menubar li a span {
	display: block;
	font-size: 9px;
}
#menubar li a:hover, #menubar li.current a {
	background: #b40000;
}
#menubar-s {display: none;}
#menubar_hdr {display: none;}