html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #D8F6CE;
}
p{
	margin: 0 0 0 30px;
	padding: 0;
}

.content {
    min-height: calc(100vh - 70px);
    background-color: #CEF6EC;
}

.header {}

#menu {
    background-color: chartreuse;
}

#menu ul {
    margin: 0 -1px 0 0;
    padding: 0;
    list-style: none;
}

#menu li {
    float: left;
    margin-right: 1px;
    background: #ddd;
    width: calc(99.5549068450927805429273%/ 3);
}

#menu li a {
    display: block;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    background-color: #ff7a4d;
    background-image: linear-gradient(transparent 56.25%, rgba(140, 0, 0, .75) 56.25%, rgba(140, 0, 0, .75) 75%, transparent 75%),
    linear-gradient(90deg, transparent 56.25%, rgba(140, 0, 0, .75) 56.25%,
    rgba(140, 0, 0, .75) 75%, transparent 75%),
    linear-gradient(transparent 25%, rgba(140, 0, 0, .35) 25%,
    rgba(140, 0, 0, .35) 31.25%, transparent 31.25%),
    linear-gradient(90deg, transparent 25%, rgba(140, 0, 0, .35) 25%,
    rgba(140, 0, 0, .35) 31.25%, transparent 31.25%);
    background-size: 32px 32px;
    color: white;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px,
    black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
}

#menu li a:hover {
    color: #fff;
    background-color: #81F7F3;
    background-image: linear-gradient(transparent 56.25%, rgba(140, 0, 0, .75) 56.25%, rgba(140, 0, 0, .75) 75%, transparent 75%),
    linear-gradient(90deg, transparent 56.25%, rgba(140, 0, 0, .75) 56.25%,
    rgba(140, 0, 0, .75) 75%, transparent 75%),
    linear-gradient(transparent 25%, rgba(140, 0, 0, .35) 25%,
    rgba(140, 0, 0, .35) 31.25%, transparent 31.25%),
    linear-gradient(90deg, transparent 25%, rgba(140, 0, 0, .35) 25%,
    rgba(140, 0, 0, .35) 31.25%, transparent 31.25%);
    background-size: 32px 32px;
}

/* 回り込み解除 */

#menu ul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.main {
    background-color: #fff;
}
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 20px 10px;
}

.pagetop a:hover {
    display: block;
    background-color: #222;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:20px 10px;
}

.section {
    width: 99.7%;
    padding: 2px;
    border: 1px #e0e0e0 solid;
    font-size: 80%;
}

.section .inner {
    padding: 5px;
    background: #64c2f2 repeat-x top;
}

.section h3 {
    margin: 0 0 1em;
    padding: 4px 6px;
    background-color: #ffffff;
    font-size: 100%;
}

.section p {
    margin: 1em 5px;
}

.inner ul{
	margin: 0 0 1em 6px;
    padding: 4px 6px 0 30px;
    background-color: #ffffff;
    font-size: 100%;
    width:auto;
}

div.heading {
width: 598px;
margin-bottom: 1em;
background: #f9f9f9 url(/Qualification/image/heading_back1.gif) repeat-x;
border: #c0c0c0 solid;
border-width: 1px 1px 2px;
}

div.heading h1 {
margin: 0;
padding: 7px 7px 4px;
border-bottom: 2px #4169e1 solid;
font-size: 100%;
line-height: 100%;
}

#bar {
    border-top: 2px solid #5D5353;
}

.footer {
    height: 50px;
    background-color: #A4A4A4;
    text-align:center;
    vertical-align:middle;
}
